In [2]:
!dir .\files\advertising.xls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C8AA-5ACC

 C:\Develops\exec_machinlearning\files 디렉터리

2021-07-01  오후 02:50           233,472 advertising.xls
               1개 파일             233,472 바이트
               0개 디렉터리  13,437,280,256 바이트 남음

In [3]:
import pandas as pd
import sklearn

In [4]:
ad_data = pd.read_excel('./files/advertising.xls')

In [5]:
ad_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

In [8]:
display(ad_data.head()),display(ad_data.shape)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

(1000, 10)

(None, None)

In [9]:
ad_data.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Male', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [10]:
x = ad_data[['Daily Time Spent on Site','Age','Area Income',
       'Daily Internet Usage']]
y = ad_data[['Clicked on Ad']]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
log = LogisticRegression()

In [15]:
log.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [17]:
log.predict(x_train[0:4])

array([1, 1, 1, 0], dtype=int64)

In [18]:
log.predict_proba(x_train[0:4])

array([[4.88933937e-04, 9.99511066e-01],
       [2.17166467e-03, 9.97828335e-01],
       [7.39706866e-03, 9.92602931e-01],
       [9.84133405e-01, 1.58665953e-02]])

In [22]:
from sklearn import metrics

In [23]:
y_pred = log.predict(x_train)

In [24]:
print(metrics.classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.92      0.90       372
           1       0.92      0.87      0.90       378

    accuracy                           0.90       750
   macro avg       0.90      0.90      0.90       750
weighted avg       0.90      0.90      0.90       750

In [25]:
metrics.confusion_matrix(y_train, y_pred)

array([[344,  28],
       [ 48, 330]], dtype=int64)

In [26]:
import pickle

In [28]:
pickle.dump(log, open('./saves/ad_lr.pkl','wb'))

In [29]:
ad_lr = pickle.load(open('./saves/ad_lr.pkl','rb'))

In [32]:
ad_lr.score(x_train, y_train)

0.8986666666666666

In [33]:
ad_lr.score(x_test, y_test)

0.904