## Simple Linear Regression

In [2]:
import sklearn

In [3]:
import pandas as pd

In [4]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C8AA-5ACC

 C:\Develops\exec_machinlearning\files 디렉터리

2021-06-29  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  14,034,665,472 바이트 남음

In [4]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header = None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [7]:
pd_data[['weight','cylinders', 'mpg']]

     weight  cylinders   mpg
0    3504.0          8  18.0
1    3693.0          8  15.0
2    3436.0          8  18.0
3    3433.0          8  16.0
4    3449.0          8  17.0
..      ...        ...   ...
393  2790.0          4  27.0
394  2130.0          4  44.0
395  2295.0          4  32.0
396  2625.0          4  28.0
397  2720.0          4  31.0

[398 rows x 3 columns]

In [8]:
x = pd_data[['weight','cylinders']]

In [9]:
y = pd_data[['mpg']]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 2), (100, 2), (298, 1), (100, 1))

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [16]:
lr.fit(X_train,Y_train)

LinearRegression()

In [17]:
lr.coef_, lr.intercept_

(array([[-0.00602428, -0.8830006 ]]), array([46.17645293]))

In [18]:
# check with a part train data
lr.score(X_train,Y_train)

0.7034161676664583

In [19]:
# check with a part test data
lr.score(X_test,Y_test)

0.6663900645566978

y = -0.00602428x_1 -0.8830006x_2 + 46.31736442

In [23]:
# weight -> cylinder
lr.predict([[3504.0,8]]) # 2-dim matrix

array([[18.00337702]])

In [24]:
lr.predict([[2790.0,4]])

array([[25.83671411]])

In [25]:
 (-0.00602428*2790.0) + (-0.8830006 * 4) + 46.31736442

25.97762082

In [26]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [27]:
import pickle

In [29]:
pickle.dump(lr, open('./saves/autompg_lr.pkl', 'wb'))

In [31]:
y_predict = lr.predict(X_train)
y_predict.shape

(298, 1)

In [32]:
y_result = Y_train - y_predict
y_result # 편차

           mpg
84   -2.993466
325  14.216170
78   -3.698126
8     1.544983
264  -1.704636
..         ...
209  -3.945061
348   7.405320
364   9.927988
165   0.291752
155  -6.853779

[298 rows x 1 columns]

score = 편차의 양