In [1]:
!ls #list

sample_data  Wholesale_customers_data.csv

In [2]:
!ls -l

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:45 Wholesale_customers_data.csv

자세하게(맨 앞과 맨 뒤 보기)  
**d**rwxr-xr-x 1 root root 4096 Jun 15 13:37 **sample_data**(directory)    
**-**rwxr-xr-x 1 root root     1697 Jan  1  2000 **anscombe.json**(file)

In [3]:
!pwd # 현재 자기 위치

/content

In [4]:
!ls -l ./sample_data # 내가 원하는 디렉토리명 or 파일명

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [5]:
!ls -l ./

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:45 Wholesale_customers_data.csv

In [6]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  2 04:45 ./Wholesale_customers_data.csv

In [7]:
import pandas as pd
df = pd.read_csv('./Wholesale_customers_data.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [9]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [10]:
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [11]:
df.iloc[1,2]

300

In [12]:
df.iloc[1:3,2:4] # range(1, 6)

      c     d
1   300   400
2  3000  4000

In [13]:
df.iloc[:,1:3]

      b     c
0     2     3
1   200   300
2  2000  3000

In [14]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

In [15]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [16]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [17]:
df.loc['cobra','shield']

2

In [18]:
df.loc['cobra':'viper','max_speed':'shield']

       max_speed  shield
cobra          1       2
viper          4       5