<a href="https://colab.research.google.com/github/seryeongi/exec_machinlearning/blob/master/wholesale_decisiontreeclassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!ls #list

sample_data  Wholesale_customers_data.csv

In [ ]:
!ls -l

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:45 Wholesale_customers_data.csv

자세하게(맨 앞과 맨 뒤 보기)  
**d**rwxr-xr-x 1 root root 4096 Jun 15 13:37 **sample_data**(directory)    
**-**rwxr-xr-x 1 root root     1697 Jan  1  2000 **anscombe.json**(file)

In [ ]:
!pwd # 현재 자기 위치

/content

In [ ]:
!ls -l ./sample_data # 내가 원하는 디렉토리명 or 파일명

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [ ]:
!ls -l ./

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:45 Wholesale_customers_data.csv

In [60]:
!ls -l ./wholesale.xls

-rw-r--r-- 1 root root 46592 Jul  2 06:16 ./wholesale.xls

In [62]:
import pandas as pd
df = pd.read_excel('./wholesale.xls')
df

     Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0             0        2       3  ...              2674        1338      3
1             1        2       3  ...              3293        1776      3
2             2        2       3  ...              3516        7844      3
3             3        1       3  ...               507        1788      0
4             4        2       3  ...              1777        5185      3
..          ...      ...     ...  ...               ...         ...    ...
435         435        1       3  ...               182        2204      0
436         436        1       3  ...                93        2346      0
437         437        2       3  ...             14841        1867      3
438         438        1       3  ...               168        2125      0
439         439        1       3  ...               477          52      0

[440 rows x 10 columns]

In [63]:
Y = df['label']
X = df.iloc[:,1:9]
Y.shape, X.shape

((440,), (440, 8))

In [65]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [66]:
dtree.score(X,Y)

1.0